@font-face {
    font-family: 'stencilnormal';
    src: url('fonts/stencil/stencil-webfont.eot');
    src: url('fonts/stencil/stencil-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/stencil/stencil-webfont.woff2') format('woff2'),
        url('fonts/stencil/stencil-webfont.woff') format('woff'),
        url('fonts/stencil/stencil-webfont.ttf') format('truetype'),
        url('fonts/stencil/stencil-webfont.svg#stencilnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'socialicoregular';
    src: url('fonts/socialico/socialico-webfont.eot');
    src: url('fonts/socialico/socialico-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/socialico/socialico-webfont.woff2') format('woff2'),
        url('fonts/socialico/socialico-webfont.woff') format('woff'),
        url('fonts/socialico/socialico-webfont.ttf') format('truetype'),
        url('fonts/socialico/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_softmedium';
    src: url('fonts/proxima_nova_soft-medium/proximanovasoft-medium-webfont.eot');
    src: url('fonts/proxima_nova_soft-medium/proximanovasoft-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proxima_nova_soft-medium/proximanovasoft-medium-webfont.woff2') format('woff2'),
        url('fonts/proxima_nova_soft-medium/proximanovasoft-medium-webfont.woff') format('woff'),
        url('fonts/proxima_nova_soft-medium/proximanovasoft-medium-webfont.ttf') format('truetype'),
        url('fonts/proxima_nova_soft-medium/proximanovasoft-medium-webfont.svg#proxima_nova_softmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
